body {
    margin: 0;
    min-height: 100vh;

    /* Fond dégradé sombre */
    background: radial-gradient(
        circle at top,
        #2a2a40 0%,
        #141421 45%,
        #0b0b14 100%
    );

    /* Centrage */
    display: flex;

    /* Texte */
    color: #eaeaea;
    font-family: "Segoe UI", Tahoma, sans-serif;

    /* Effet doux */
    overflow-x: hidden;
}


#canvas {
    margin: 2rem auto;

    /* Bordure + glow */
    border: 4px solid #ff0000;
    border-radius: 8px;

    box-shadow:
        0 0 15px rgb(255, 0, 0),
        0 0 40px rgba(0, 0, 0, 0.8);
}